"""CloudFront distribution for S3 bucket resources."""

from __future__ import annotations

from aws_cdk import (
    aws_cloudfront,
    aws_cloudfront_origins,
    aws_s3,
)
from constructs import Construct


class AppCloudFront(Construct):
    """Provisions a CloudFront distribution with an S3 origin."""

    def __init__(
        self,
        scope: Construct,
        construct_id: str,
        *,
        bucket: aws_s3.IBucket,
        project_name: str,
        env_name: str,
        bucket_name_suffix: str,
    ) -> None:
        super().__init__(scope, construct_id)

        oai = aws_cloudfront.OriginAccessIdentity(
            self,
            "OAI",
            comment=f"{project_name}-{env_name}-{bucket_name_suffix}",
        )
        bucket.grant_read(oai)

        self.distribution = aws_cloudfront.Distribution(
            self,
            "Dist",
            comment=f"{project_name}-{env_name}-{bucket_name_suffix}",
            default_behavior=aws_cloudfront.BehaviorOptions(
                origin=aws_cloudfront_origins.S3Origin(
                    bucket,
                    origin_access_identity=oai,
                ),
                viewer_protocol_policy=aws_cloudfront.ViewerProtocolPolicy.REDIRECT_TO_HTTPS,
                cache_policy=aws_cloudfront.CachePolicy.CACHING_OPTIMIZED,
            ),
        )
